a:link {
  text-decoration: none;
}
html,body {
  margin: 0;
  padding:0;
  height: 100%;
}
#container {
  min-width: 300px;
  min-height:100%;
  height: auto !important;
  height: 100%; /*IE6不识别min-height*/
  position: relative;
}
#center {
    min-height: 600px;
}
.navbar-nomargin {
    margin: 0;
}
.nav > li > a:hover{
    background-color:#e6e6e6 !important;
}
/*Navigation*/
.sidebar-nav {
  width: 240px;
  position: absolute;
  float: left;
  border-top: none;
  border-left: none;
  margin: 0em;
}
.sidebar-nav .main-header{
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #c8c8cb;
  border-left: none;
  color: #333;
  display: block;
  background: #e6e6e6;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e6e6e6, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e6e6e6')";
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  line-height: 2.5em;
  padding: 0em .25em;
  margin-bottom: 0px;
}
.sidebar-nav .main-header a{
  color: #333;
}
.sidebar-nav .nav-header {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #c8c8cb;
  border-left: none;
  color: #333;
  display: block;
  background: #efeff0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #efeff0, #ffffff);
  background: -moz-linear-gradient(center bottom, #efeff0 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #efeff0, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#efeff0')";
  font-weight: normal;
  font-size: 1em;
  line-height: 2.5em;
  padding: 0em .25em;
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
  /*Change the arrow direction if the item is collapsed*/
}
.sidebar-nav .label {
    float: right;
    margin-top: .5em;
    line-height: 1.5em;
}
.sidebar-nav .glyphicon {
    margin-right: .75em;
}
.sidebar-nav .nav-list {
  background: #f6f6f6;
  line-height: 0.5em;
}
.content {
  min-width: 400px;
  position: relative;
  min-height: 600px;
  background: #fff;
  margin-left: 240px;
  border-left: 1px solid #cccccc;
  border-left: 3px solid #999999;
}
.dialog {
    margin-top: 100px;
}
.header {
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e6e6e6, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e6e6e6')";
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 0em 1.25em;
}
.container-fluid {
    padding-right: 0;
}
.well {
  min-width: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 10px;
}
.btn-toolbar {
    padding: 10px;
}
.block {
  border: 1px solid #ccc;
  background: white;
  margin: 1em 0em;
}
.nav-sub-panel
{
    color: #0088CC;
    float: right;
    padding-right: 50px;
    margin-top: 15px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}
